{"swagger":"2.0","info":{"title":"Swagger Json","description":"This is a generated swagger json for your sails project","termsOfService":"","contact":{"name":"Nirav Adatiya","url":"https://github.com/logisticinfotech","email":"nirav@logisticinfotech.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0.0"},"host":"ec2-54-180-80-100.ap-northeast-2.compute.amazonaws.com:1337","basePath":"/","schemes":["http","https"],"externalDocs":{"url":"http://www.logisticinfotech.com"},"parameters":{"WhereQueryParam":{"in":"query","name":"where","required":false,"type":"string","description":"This follows the standard from http://sailsjs.com/documentation/reference/blueprint-api/find-where"},"LimitQueryParam":{"in":"query","name":"limit","required":false,"type":"integer","description":"The maximum number of records to send back (useful for pagination). Defaults to undefined"},"SkipQueryParam":{"in":"query","name":"skip","required":false,"type":"integer","description":"The number of records to skip (useful for pagination)."},"SortQueryParam":{"in":"query","name":"sort","required":false,"type":"string","description":"The sort order. By default, returned records are sorted by primary key value in ascending order. e.g. ?sort=lastName%20ASC"},"PopulateQueryParam":{"in":"query","name":"populate","required":false,"type":"string","description":"check for better understanding -> http://sailsjs.com/documentation/reference/blueprint-api/find-where"},"PageQueryParam":{"in":"query","name":"page","required":false,"type":"integer","description":"This helps with pagination and when the limit is known"},"SelectQueryParam":{"in":"query","name":"select","required":false,"type":"string","description":"This helps with what to return for the user and its \",\" delimited"},"TokenHeaderParam":{"in":"header","name":"token","required":false,"type":"string","description":"Incase we want to send header information along our request"},"IDPathParam":{"in":"path","name":"id","required":true,"type":"string","description":"This is to identify a particular object out"},"PerPageQueryParam":{"in":"query","name":"perPage","required":false,"type":"integer","description":"This helps with pagination and when the limit is known for pagify"}},"paths":{"/":{"get":{"tags":["/"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}]}},"/users":{"get":{"tags":["Users"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}]},"post":{"tags":["Users"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}],"parameters":[{"name":"body","in":"body","required":true,"description":"An object defining our schema for this request","schema":{"properties":{"sessionId":{"type":"string","description":"session id for user"},"locationId":{"type":"string","description":"location id for user"}},"required":["sessionId","locationId"]}}]}},"/user/{sessionId}":{"delete":{"tags":["User"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}],"parameters":[{"in":"path","name":"sessionId","required":true,"type":"string","description":"session id for user"}]}},"/speedtests":{"get":{"tags":["Speedtests"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}]},"delete":{"tags":["Speedtests"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}]}},"/speedtest":{"post":{"tags":["Speedtest"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}],"parameters":[{"name":"body","in":"body","required":true,"description":"An object defining our schema for this request","schema":{"properties":{"floorNumber":{"type":"string","description":"floorNumber for speedtest"},"roomNumber":{"type":"string","description":"roomNumber for speedtest"},"sessionId":{"type":"string","description":"session id for speedtest"},"downloadSpeed":{"type":"string","description":"downloadSpeed for speedtest"},"timeStamp":{"type":"string","description":"timeStamp for speedtest"}},"required":["floorNumber","roomNumber","sessionId","downloadSpeed","timeStamp"]}}]}},"/speedtest/{sessionId}":{"delete":{"tags":["Speedtest"],"summary":"","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"The requested resource"},"404":{"description":"Resource not found"},"500":{"description":"Internal server error"}},"security":[{"Authorization":[]}],"parameters":[{"in":"path","name":"sessionId","required":true,"type":"string","description":"session id for SpeedTest"}]}}},"definitions":{"location":{"properties":{"id":{"type":"string","uniqueItems":true}},"required":[]},"speedtest":{"properties":{"id":{"type":"string","uniqueItems":true},"floorNumber":{"type":"string"},"roomNumber":{"type":"string"},"sessionId":{"type":"string","uniqueItems":true},"downloadSpeed":{"type":"string"},"timeStamp":{"type":"string"}},"required":[]},"user":{"properties":{"id":{"type":"string","uniqueItems":true},"sessionId":{"type":"string"},"locationId":{"type":"string"},"timeStamp":{"type":"number"}},"required":["sessionId","locationId"]},"archive":{"properties":{"id":{"type":"string","uniqueItems":true},"createdAt":{"type":"number"},"fromModel":{"type":"string"},"originalRecord":{"type":"json"},"originalRecordId":{"type":"json"}},"required":["fromModel","originalRecord"]}},"securityDefinitions":{"Authorization":{"type":"apiKey","description":"user JWT Auth Token","name":"Authorization","in":"header","flow":"password"}}}